@import '../../app.component.scss';
.tooltip-style {
  display: flex !important;
  max-width: 40% !important;
 }
@media (max-width: 767px)  {
  .tooltip-style {
    left: 0px !important;
   }
}
app-login-page {
  .login-background

  .label-style {
    color: #7f7f7f;
    font-size: 0.8rem;
    font-weight: 400;
  }